{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Les produits :</h1>



    <div class="row">
        {% for produit in produits %}

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/700x400" alt=""></img>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ path('produit.show', {id: produit.id, slug: produit.libelle|slugify}) }}">{{ produit.libelle }}</a>
                        </h4>
                        <div class="text-success"
                             style="font-weight: bold; font-size: 2rem;">{{ produit.prixht }} €
                        </div>
                        <p class="card-text">Ce produit fait partie de nos meilleures ventes</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
